{% extends "tbase.html" %}
{% block title %}群体分析{% endblock title %}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/framestyle.css" rel="stylesheet"/>
{% endblock css %}

{% block head_js %}
{{ super() }}
<style type="text/css">
.terms{
    /*height:30px;width:237px;float:left;*/
    margin-bottom: 5px;
    margin-left: 2px;
  
}
.t-title{
    /*height:30px;width:237px;float:left;*/
    margin-left: 2px;
  
}
</style>

<script type="text/javascript">
var pre_flag = false;
var lan_flag = false;
var in_flag = false;
var so_flag = false;
var th_flag = false;
$(function(){
    /**软件功能切换js**/
     //preference_load();
    $(" .portrait_button").click(function(){
        var x = $(this).attr("title");
        // var x=$(this).parent().index();
        // console.log(x);
        //$(this).children("p").css({"color":"#008dd9"}).parent().parent().siblings().children().children("p").css({"color":"#333333"});
        $(this).css({"background-color":"#3351B7"}).siblings().css({"background-color":"#6699FF"});
        if(x=='基本特征'){
           $("#g_bas").css({"display":"block"}).siblings().css({"display":"none"});
           //$("#qxtz").css({"background-color":"#3351B7"})
        }else if(x=='活动特征'){
            if(pre_flag==false){
     		//activity_load();
                pre_flag = true;
            }
            $("#g_act").css({"display":"block"}).siblings().css({"display":"none"});
        }else if(x=='偏好特征'){
            if(lan_flag==false){
             //   language_load();
                lan_flag = true;
            }
           $("#g_pre").css({"display":"block"}).siblings().css({"display":"none"});
        }else if(x=='影响力特征'){
            if(in_flag==false){
             //   influence_load();
                in_flag = true;
            }
           $("#g_spr").css({"display":"block"}).siblings().css({"display":"none"});
        }else if(x=='社交特征'){
            if(so_flag==false){
             //   social_load();
                so_flag = true;
            }
           $("#g_soc").css({"display":"block"}).siblings().css({"display":"none"});
        }else if(x=='性格特征'){
            if(th_flag==false){
            //    thought_load();
                th_flag = true;
            }
           $("#g_psy").css({"display":"block"}).siblings().css({"display":"none"});
        }
    });
    
});
</script>
{% endblock head_js %}
{% block head_title %}
群体分析
{% endblock head_title %}
{% block main %}
<div id="d_useremail" hidden>{{g.user.email}}</div>
<div id="basicwrapper" style="width:1100px;">
	<!-- end #menu -->
	<div id="basicpage">
	<div id="basicpage-bgtop">
    <div id="basicpage-bgbtm">
        <div id="framesidebar"  >
            <h3  style="padding:5px;color:white">群组分析</h3>
            <li>
                <ul style="padding:0px;height:350px;">
                    <div style='height:190px;width:100%' id='overview'> </div>
                </ul>
            </li>
        </div>
        <div id="framecontent" style="width:850px;">
            <div class ="framepost" style="height:200px;">
                <h3 class="title">群体属性</h3>
                <div  id="g_tag">
                </div>
            </div>
        </div>

        <div style="margin-left:250px;margin-bottom:11px;">
            <button class="portrait_button" type='button' style="margin-right:32px;background-color:#3351B7" title="基本特征" >基本特征</button>
             <button class="portrait_button" type='button' style="margin-right:32px;" title="活动特征" >活动特征</button>
            <button class="portrait_button" type='button' style="margin-right:32px;" title="偏好特征" >偏好特征</button>
            <button class="portrait_button" type='button' style="margin-right:32px;" title="影响力特征" >影响力特征</button>
            <button class="portrait_button" type='button' style="margin-right:32px;" title="社交特征" >社交特征</button>
            <button class="portrait_button" type='button' style="margin-right:32px;" title="性格特征" >性格特征</button>
            <button class="portrait_button" type='button'  title="标签特征" >外部评价</button>
        </div>
        <div style="margin-left:10px;margin-top:20px;float:left;width:850px;">     
            <div id="g_bas" style="display:none" >
                {% include "portrait/group_analysis/group_basic.html"%}
            </div>
            <div id="g_act" >
                {% include "portrait/group_analysis/group_activity.html"%}
            </div>
            <div id="g_pre" style="display:none">
                {% include "portrait/group_analysis/group_preference.html"%}
            </div>
        
            <div id="g_spr" style="display:none">
                {% include "portrait/group_analysis/group_spread.html"%}
            </div>
            <div id="g_soc" style="display:none">
                {% include "portrait/group_analysis/group_social.html"%}
            </div>
            <div id="g_psy" style="display:none">
                {% include "portrait/group_analysis/group_psy.html"%}
            </div>
        </div>
	</div>
	</div>
	</div>
</div>
<div id="float-wrap" class="hidden"></div>

{% endblock main %}

{% block Own_js %}
{{ super() }}
<script>
        var name = "{{ name }}";
        //console.log('dddd', name);
        $(document).ready(function(){
            $("#closeness_tooltip").tooltip();
            $("#weibo_tooltip").tooltip();
            $("#join_tooltip").tooltip(); 
            $("#node_tooltip").tooltip(); 
            $("#tag_tooltip").tooltip();          
        })
//点击跳转页面
function pageGroup(pageNum,pageCount){
    switch(pageNum){
        case 1:
            page_icon(1,5,0);
        break;
        case 2:
            page_icon(1,5,1);
        break;
        case pageCount-1:
            page_icon(pageCount-4,pageCount,3);
        break;
        case pageCount:
            page_icon(pageCount-4,pageCount,4);
        break;
        default:
            page_icon(pageNum-2,pageNum+2,2);
        break;
    }
}

//根据当前选中页生成页面点击按钮
function page_icon(page,count,eq){
    var ul_html = "";
    for(var i=page; i<=count; i++){
        ul_html += "<li>"+i+"</li>";
    }
    $("#pageGro ul").html(ul_html);
    $("#pageGro ul li").eq(eq).addClass("on");
}

//上一页
function pageUp(pageNum,pageCount){
    switch(pageNum){
        case 1:
        break;
        case 2:
            page_icon(1,5,0);
        break;
        case pageCount-1:
            page_icon(pageCount-4,pageCount,2);
        break;
        case pageCount:
            page_icon(pageCount-4,pageCount,3);
        break;
        default:
            page_icon(pageNum-2,pageNum+2,1);
        break;
    }
}

//下一页
function pageDown(pageNum,pageCount){
    switch(pageNum){
        case 1:
            page_icon(1,5,1);
        break;
        case 2:
            page_icon(1,5,2);
        break;
        case pageCount-1:
            page_icon(pageCount-4,pageCount,4);
        break;
        case pageCount:
        break;
        default:
            page_icon(pageNum-2,pageNum+2,3);
        break;
    }
}

</script>
    <script type="text/javascript" src="/static/js/portrait/group_analysis.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=aBrX8X2tEjcqiKwL78DLmanZ"></script>
    <script type="text/javascript" src="/static/js/portrait/group_activity.js"></script>
    <script type="text/javascript" src="/static/js/portrait/group_spread.js"></script>
    <script type="text/javascript" src="/static/js/portrait/group_social.js"></script>
    <script type="text/javascript" src="/static/js/portrait/group_psy.js"></script>
{% endblock Own_js%}
